.banner {
  width: 100%;
  background-image:
          linear-gradient(
                        rgba(0, 0, 0, 0.5),
                        rgba(0, 0, 0, 0.5)
          ),
          url(../images/sea.jpg);
  background-size: cover;

  &__intro {
    display: none;
  }
}

header,
.nav {
  display: flex;
  flex-direction: column;
}

header {
  padding-top: 2em;
}

.site-logo {
  width: 110px;
  align-self: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: $blue;
}

.nav {
  margin-top: 1.5em;

  &__item {
    a {
      display: block;
      color: white;
      font-size: 1.125em;
      font-weight: 300;
      text-align: center;
      padding: .4em;
      border-bottom: 1px solid #ebecec;

      &:hover {
         color: $blue;
         border-bottom-color: #52bab3;
      }
    }
  }
}
 .banner-container {
   visibility: hidden;
 }
/* ---------------------------------
   Media Queries
----------------------------------*/
@media (min-width: 769px) {

  .banner {
    display: block;
    height: 80vh;
    position: relative;

    &__intro {
      display: block;
      position: absolute;
      left: 50%;
      top: 55%;
      width: 100%;
      text-align: center;
      transform: translateX(-50%) translateY(-50%);
    }

    &__text {
      font-size: 2em;
      color: white;
    }
  }

  header {
    height: 200px;
    justify-content: flex-end;
  }

  .site-logo {
    width: 140px;
  }

  .nav {
    margin-top: 3em;
    flex-direction: row;
    justify-content: space-between;

    a {
      border-bottom-color: transparent;

      &:hover {
        color: #0b0b0b;
      }
    }
  }

.banner-container {
  visibility: visible;
}
}

.intro-contain {
  display: block;
}
.button {
  display: block;
  position: absolute;
  left: 50%;
  top: 75%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  padding: 20px 35px;
  background: $blue;
  width: 200px;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.learn-more {
  margin-left: 120px;
}

.contact {
  margin-left: -120px;
}

@media (min-width: 1025px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav {
    margin-top: 0;
    align-self: center;
    margin-right: 2em;

    &__item {
      margin-left: .65em;
      margin-right: .65em;
    }
  }

  .site-logo {
    margin-left: 2em;
  }

}
